_
node_modules
bower_components
/_
/doc
/src
/doc.json
/bower.json
/Gruntfile.js

**/.*
.git
.gitignore
.jshintignore
.jshintrc

logs
*.log

/.editorconfig
/.gitattributes
/.jscs.json
/.mailmap
/.travis.yml